## **Women Cloth Reviews Prediction with Multi Nominal Naive Bayes**
The multinominal Naive Bayes Classifier is Suitable for classification with discrete(e.g., Word count for text classification).The multinomial distribution normally require integer feature counts . However in practice ,fractional counts such as tf-idf may also work.

## **Import Library**

In [3]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns

## **import Dataset**

In [4]:
df= pd.read_csv('https://raw.githubusercontent.com/abdelrahmansamir1/Women-s-E-Commerce-Clothing-Reviews/main/Womens%20Clothing%20E-Commerce%20Reviews.csv')

In [5]:
df=df.drop('Unnamed: 0',axis=1)

In [6]:
df.head()

,Clothing ID,Age,Title,Review Text,Rating,Recommended IND,Positive Feedback Count,Division Name,Department Name,Class Name
0,767,33,NaN,Absolutely wonderful - silky and sexy and comf...,4,1,0,Initmates,Intimate,Intimates
1,1080,34,NaN,Love this dress! it's sooo pretty. i happene...,5,1,4,General,Dresses,Dresses
2,1077,60,Some major design flaws,I had such high hopes for this dress and reall...,3,0,0,General,Dresses,Dresses
3,1049,50,My favorite buy!,"I love, love, love this jumpsuit. it's fun, fl...",5,1,0,General Petite,Bottoms,Pants
4,847,47,Flattering shirt,This shirt is very flattering to all due to th...,5,1,6,General,Tops,Blouses

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23486 entries, 0 to 23485
Data columns (total 10 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Clothing ID              23486 non-null  int64
 1   Age                      23486 non-null  int64
 2   Title                    19676 non-null  object
 3   Review Text              22641 non-null  object
 4   Rating                   23486 non-null  int64
 5   Recommended IND          23486 non-null  int64
 6   Positive Feedback Count  23486 non-null  int64
 7   Division Name            23472 non-null  object
 8   Department Name          23472 non-null  object
 9   Class Name               23472 non-null  object
dtypes: int64(5), object(5)
memory usage: 1.8+ MB

In [8]:
df.shape

(23486, 10)

## **Missing Values**

remove missing values in Reviews columns with No Review *text*

In [9]:
df.isna().sum()

Clothing ID                   0
Age                           0
Title                      3810
Review Text                 845
Rating                        0
Recommended IND               0
Positive Feedback Count       0
Division Name                14
Department Name              14
Class Name                   14
dtype: int64

In [10]:
df[df['Review Text']==""]=np.NaN

In [11]:
df['Review Text'].fillna("No Review",inplace = True)

In [12]:
df.isna().sum()

Clothing ID                   0
Age                           0
Title                      3810
Review Text                   0
Rating                        0
Recommended IND               0
Positive Feedback Count       0
Division Name                14
Department Name              14
Class Name                   14
dtype: int64

In [13]:
df['Review Text']

0        Absolutely wonderful - silky and sexy and comf...
1        Love this dress!  it's sooo pretty.  i happene...
2        I had such high hopes for this dress and reall...
3        I love, love, love this jumpsuit. it's fun, fl...
4        This shirt is very flattering to all due to th...
                               ...
23481    I was very happy to snag this dress at such a ...
23482    It reminds me of maternity clothes. soft, stre...
23483    This fit well, but the top was very see throug...
23484    I bought this dress for a wedding i have this ...
23485    This dress in a lovely platinum is feminine an...
Name: Review Text, Length: 23486, dtype: object

## **Define Target(y) and Feature (x)**

In [14]:
df.columns

Index(['Clothing ID', 'Age', 'Title', 'Review Text', 'Rating',
       'Recommended IND', 'Positive Feedback Count', 'Division Name',
       'Department Name', 'Class Name'],
      dtype='object')

In [15]:
x = df['Review Text']

In [16]:
y = df['Rating']

In [17]:
df['Rating'].value_counts()

5.0    13131
4.0     5077
3.0     2871
2.0     1565
1.0      842
Name: Rating, dtype: int64

## **Train Test Split**

In [18]:
from sklearn.model_selection import train_test_split

In [19]:
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.7,stratify = y,random_state =2529)

In [20]:
x_train.shape,x_test.shape,y_train.shape,y_test.shape

((16440,), (7046,), (16440,), (7046,))

## **get Feature Text Conversion to Tokens**

In [21]:
from sklearn.feature_extraction.text import CountVectorizer

In [22]:
cv = CountVectorizer(lowercase =True,analyzer ='word',ngram_range=(2,3),stop_words ='english',max_features=5000)

In [23]:
x_train = cv.fit_transform(x_train)

In [24]:
cv.get_feature_names_out()

array(['10 12', '10 bought', '10 fit', ..., 'yellow color', 'yoga pants',
       'zipper little'], dtype=object)

In [25]:
x_train.toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [26]:
x_test = cv.fit_transform(x_test)

In [27]:
cv.get_feature_names_out()

array(['10 12', '10 dress', '10 fit', ..., 'years come', 'years old',
       'yoga pants'], dtype=object)

In [28]:
x_test.toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

## **Get Model Train**

In [29]:
from sklearn.naive_bayes import MultinomialNB

In [30]:
model = MultinomialNB()

In [31]:
model.fit(x_train,y_train)

MultinomialNB()

## **Get Model Prediction**

In [32]:
y_pred = model.predict(x_test)

In [33]:
y_pred.shape

(7046,)

In [34]:
y_pred

array([1., 5., 5., ..., 5., 5., 5.])

## **Get Probability of Each Predicted Class**

In [35]:
model.predict_proba(x_test)

array([[0.71118473, 0.02625165, 0.15465118, 0.01496876, 0.09294369],
       [0.02416867, 0.04769471, 0.35268622, 0.16185007, 0.41360034],
       [0.03582725, 0.06660584, 0.12226277, 0.21618005, 0.55912409],
       ...,
       [0.02320281, 0.08950939, 0.08962183, 0.16719203, 0.63047394],
       [0.01167675, 0.00202714, 0.08539004, 0.34347398, 0.55743209],
       [0.03959824, 0.05612822, 0.00688869, 0.1560574 , 0.74132745]])

## **Get Model Evaluation**

In [36]:
from sklearn.metrics import confusion_matrix,classification_report

In [37]:
print(confusion_matrix(y_test,y_pred))

[[  15   13   45   36  144]
 [  43   43   86   85  213]
 [ 116   78  113  166  388]
 [ 166  108  194  336  719]
 [ 371  272  349  722 2225]]

In [38]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

         1.0       0.02      0.06      0.03       253
         2.0       0.08      0.09      0.09       470
         3.0       0.14      0.13      0.14       861
         4.0       0.25      0.22      0.23      1523
         5.0       0.60      0.56      0.58      3939

    accuracy                           0.39      7046
   macro avg       0.22      0.21      0.21      7046
weighted avg       0.42      0.39      0.40      7046

## **Recategories rating as Poor (0) and Good (1)**

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23486 entries, 0 to 23485
Data columns (total 10 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Clothing ID              23486 non-null  float64
 1   Age                      23486 non-null  float64
 2   Title                    19676 non-null  object
 3   Review Text              23486 non-null  object
 4   Rating                   23486 non-null  float64
 5   Recommended IND          23486 non-null  float64
 6   Positive Feedback Count  23486 non-null  float64
 7   Division Name            23472 non-null  object
 8   Department Name          23472 non-null  object
 9   Class Name               23472 non-null  object
dtypes: float64(5), object(5)
memory usage: 1.8+ MB

In [40]:
df['Rating'].value_counts()

5.0    13131
4.0     5077
3.0     2871
2.0     1565
1.0      842
Name: Rating, dtype: int64

In [41]:
#re-rating as 1,2,3 as 0  and 4,5 as 1
df.replace({'Rating':{1:0,2:0,3:0,4:1,5:1}},inplace = True)

In [42]:
y = df['Rating']
x = df['Review Text']

## **Train Test Split**

In [43]:
from sklearn.model_selection import train_test_split

In [44]:
x_train,x_test,y_train,y_test = train_test_split(x,y,train_size=0.7,stratify = y,random_state=2529)

In [45]:
x_train.shape,x_test.shape,y_train.shape,y_test.shape

((16440,), (7046,), (16440,), (7046,))

## **Get Feature text Conversion to Tokens**

In [46]:
from sklearn.feature_extraction.text import CountVectorizer

In [47]:
cv = CountVectorizer(lowercase = True,analyzer='word',ngram_range=(2,3),stop_words='english',max_features=50000)

In [48]:
x_train =cv.fit_transform(x_train)

In [49]:
x_test=cv.fit_transform(x_test)

## **Get Model Re-Train**

In [50]:
from sklearn.naive_bayes import MultinomialNB

In [51]:
model = MultinomialNB()

In [52]:
model.fit(x_train,y_train)

MultinomialNB()

## **Get Model prediction**

In [53]:
y_pred = model.predict(x_test)

In [54]:
y_pred.shape

(7046,)

In [55]:
y_pred

array([1., 0., 0., ..., 1., 1., 0.])

## **Get Model Evaluation**

In [56]:
from sklearn.metrics import confusion_matrix,classification_report

In [57]:
print(confusion_matrix(y_test,y_pred))

[[ 758  825]
 [2714 2749]]

In [58]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

         0.0       0.22      0.48      0.30      1583
         1.0       0.77      0.50      0.61      5463

    accuracy                           0.50      7046
   macro avg       0.49      0.49      0.45      7046
weighted avg       0.65      0.50      0.54      7046

In [59]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

         0.0       0.22      0.48      0.30      1583
         1.0       0.77      0.50      0.61      5463

    accuracy                           0.50      7046
   macro avg       0.49      0.49      0.45      7046
weighted avg       0.65      0.50      0.54      7046